<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Update a Role</title>

    <link rel="stylesheet" href="">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Bootstrap libraries -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <!--Start of navbar-->
    <nav class="navbar navbar-expand-lg bg-light nav nav-tabs">
        <div class="container-fluid">
          <a class="navbar-brand">LJPS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="homepage.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="skills.html">Skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="view_roles.html">Roles</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <!--end of navbar-->



    <div id="main-container1" class="container">
        <h2 class="display-4"><strong>Update a Role</strong></h2>
        <br>
        <form>
        <h4>Role's ID:</h4>

        <div class="form-group">
            <input type="text" class="form-control" id="JobRole_ID" v-model="JobRole_ID" disabled="disabled">
        </div>

        <h4>Role's Name:</h4>

        <div class="form-group">
            <input type="text" class="form-control" id="JobRole_Name" v-model="JobRole_Name">
        </div>

        
        <h4>Select skills required for the job role:</h4>
        <div v-for="Skill in Skills" class="form-check" v-bind:key="Skill.Skill_ID">
            <template v-if="retrieveSkillList.includes(Skill.Skill_ID)">
                <input class="form-check-input" type="checkbox" v-bind:value="Skill.Skill_ID" v-model="selectedSkillID" checked>
                <label class="form-check-label">
                {{Skill.Skill_ID}}, {{Skill.Skill_Name}}
                </label>
            </template>
            <template v-else>
                <input class="form-check-input" type="checkbox" v-bind:value="Skill.Skill_ID" v-model="selectedSkillID">
                <label class="form-check-label">
                {{Skill.Skill_ID}}, {{Skill.Skill_Name}}
                </label>
            </template>
        </div>
        <!--<div>Checked Skills: {{ selectedSkillID }}</div>
        <div>retrieveSkillList: {{ retrieveSkillList }}</div>-->
        <br>
        <template v-if="retrieveSkillList==selectedSkillID && JobRole_Name==retrieveJobRoleDetails.JobRole_Name">
            <button class="btn btn-primary" v-on:click="submitForm" disabled>Update Role</button>
        </template>
        <template v-else>
            <button class="btn btn-primary" v-on:click="submitForm">Update Role</button>
        </template>
        <p><label id="error" class="text-danger">{{ error }}</label></p>
        </form>

    </div>
    <script>
        const vm = new Vue({
        el: '#main-container1',
        data: {
            retrieveJobRoleDetails: [],
            retrieveSkillList: [],
            selectedSkillID: [],
            Skills: [],
            JobRole_ID: '',
            JobRole_Name: '',
            JobRole_Status:'',
            error_messages: '',
            error: '',
            existingJobRoles: []
        },
        methods: {
                submitForm: function() {
                    event.preventDefault();

                    var jobID = localStorage.getItem("JobRoleID");
                    if (this.JobRole_ID !== '' && this.JobRole_Name !== '' && this.selectedSkillID.length !== 0 && this.JobRole_ID.length <= 10 && this.JobRole_Name.length <= 50
                    && !this.existingJobRoles.some(e => e.JobRole_ID.toUpperCase()=== this.JobRole_ID.toUpperCase()) 
                    && !this.existingJobRoles.some(e => e.JobRole_Name.toUpperCase()=== this.JobRole_Name.toUpperCase()) ){
                        axios.post('http://localhost:5001/JobRolesDetails/'+jobID+'/'+this.JobRole_ID+'/'+this.JobRole_Name)
                        .then(response => {
                            this.updateSkills();
                            alert("Your updates have been successfully saved!");
                            window.location.replace("./view_roles.html");
                            return false;
                        })
                        .catch(error => { error => alert(error) });
                    }
                    else {
                    if (this.JobRole_ID == '') {
                        this.error_messages += "Role ID must be filled\n" 
                    } 
                    if (this.JobRole_Name == '') {
                        this.error_messages += "Role Name must be filled\n"
                    }                  
                    if (this.selectedSkillID.length == 0) {
                        this.error_messages += "Skills required must be selected\n"
                    }
                    if (this.JobRole_ID.length > 10) {
                        this.error_messages += "Role ID must be less than or equal to 10 characters\n"
                    }
                    if (this.JobRole_Name.length > 50) {
                        this.error_messages += "Role Name must be less than or equal to 50 characters\n\n"
                    }
                    if (this.existingJobRoles.some(e => e.JobRole_ID.toUpperCase()=== this.JobRole_ID.toUpperCase() )) {
                        this.error_messages += `A role with Role ID ${this.JobRole_ID} already exists\n`
                    }
                    if (this.existingJobRoles.some(e => e.JobRole_Name.toUpperCase() === this.JobRole_Name.toUpperCase())) {
                        this.error_messages += `A role with Role Name ${this.JobRole_Name} already exists\n`
                    }
                    alert(this.error_messages)
                    this.error_messages = ''
                    }
                },
                updateSkills: function() {
                    event.preventDefault();
                    var jobID = localStorage.getItem("JobRoleID")
                    axios.delete('http://localhost:5001/deleteJobRoleWithSkills/'+jobID)
                    .then(response => {
                        return false;
                    })
                    .catch(error => { this.error = error.response.data.message });

                    for (let i = 0; i < this.selectedSkillID.length; i++){
                        axios.post('http://localhost:5001/addJobRoleWithSkills', {
                        JobRole_ID: this.JobRole_ID,
                        Skill_ID: this.selectedSkillID[i]
                        })
                        .then(response => {
                            return false;
                        })
                        .catch(error => { this.error = error.response.data.message });
                        } 
                    
                }
            },
        mounted: function() {
            
            axios.get('http://localhost:5001/ActiveSkills')
                .then(response => {
                    this.Skills = response.data.data;
                })
                .catch(error => alert(error));;

            var jobID = localStorage.getItem("JobRoleID");
            axios.all([
                    axios.get('http://localhost:5001/JobRolesDetails/'+jobID),
                    axios.get('http://localhost:5001/SkillsOnJobRole/'+jobID)
                ])
                .then(axios.spread((response1, response2) => {
                    this.retrieveJobRoleDetails = response1.data.data;
                    this.retrieveSkillList = response2.data.data;
                    this.JobRole_ID = this.retrieveJobRoleDetails.JobRole_ID
                    this.JobRole_Name = this.retrieveJobRoleDetails.JobRole_Name
                    this.selectedSkillID = this.retrieveSkillList
                }))
                .catch(error => alert(error));
        }
    });
    </script>
</body>

</html>